@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Simple CSS for service request grid, convert to tailwind as needed */

.grid-even-columns {
  display: grid;
  gap: 1rem;
  margin: 0 2rem;
}

@media (min-width: 40em) {
  .grid-even-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 70em) {
  .grid-even-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 100em) {
  .grid-even-columns {
    grid-template-columns: repeat(6, 1fr);
  }
}

.service-item {
  min-width: 15rem;
  min-height: 15rem;
  padding: 2rem;
}

img {
  animation: animateIn 0.3s ease 0.15s both;
  image-rendering: crisp-edges;
}

