
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree[wght].ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}



.compound-grid {
  display: grid;
  grid-template-columns: [a1] 4fr [a2] 1fr [b2] 3fr [a3] 2fr [b3] 2fr [a4] 3fr [b4] 1fr [a5] 4fr [a6];
                      /*|---------|---------|---------|---------|--------|*/
                      /*|------------|-----------|-----------|-----------|*/
                      /*|---------|--|------|----|----|------|--|--------|*/

                      /*a---------a--b------a----b----a------b--a--------a*/
                      /*1---------2--2------3----3----4------4--5--------6*/
                      /* note: a1 is also b1 and a6 is also b6*/
  grid-column-gap: 1vw;
  grid-row-gap: 2vh;
  margin: 2rem;
}
.a1-b2 {
  grid-column: a1 / b2;
}
.a1-b4 {
  grid-column: a1 / b4;
}
.b2-b4 {
  grid-column: b2 / b4;
}
.a5-a6 {
  grid-column: a5 / a6;
}
.a1-b3 {
  grid-column: a1 / b3;
}
.b2-a6 {
  grid-column: b2 / a6;
}
.toes {
  grid-column: a1 / a6;
}

/* See https://adrianroselli.com/2019/09/under-engineered-text-boxen.html */

textarea,
input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"]):not([type="range"]) {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  padding: 0.5rem
}

textarea:focus,
input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"]):not([type="range"]):focus {
  outline: 0.15em solid #00f;
  box-shadow: 0 0 0.2em #00f;
}

textarea[aria-invalid="true"],
textarea[aria-invalid="spelling"],
textarea[aria-invalid="grammar"],
input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"]):not([type="range"])[aria-invalid] {
  background: linear-gradient(135deg, rgba(255,0,0,1) 0, rgba(255,0,0,1) .4em, rgba(255,255,255,1) .4em);
}
@media print {
  body {
    font-size: 8pt;
  }
}
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:focus {
    zoom: 1.16666;
}

input[type="text"]:-webkit-autofill::first-line, input[type="password"]:-webkit-autofill::first-line {
    font-size: 0.81333rem;
    line-height: 1.5;
}



