@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');


/* Simple CSS for service request grid, convert to tailwind as needed */

.basic-grid {
  display: grid;
  gap: 1rem;
  margin: 0 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



img {
  animation: animateIn 0.3s ease 0.15s both;
  image-rendering: crisp-edges;
}

.logo {
  fill: #d67a00;
  stroke: #d67a00;
  /* padding: 2px; */
}

