/* Radix Primitives Radio Group */
button {
  all: unset;
}

.RadioGroupIndicator::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(68, 68, 68);
}
