@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
@import './open-props.min.css';

/* @import './normalize.min.css'; */
/* @import './buttons.css'; */
/* @import 'https://unpkg.com/open-props/buttons.min.css'; */

/*@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
/* Reset */

/* *,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
}

picture,
svg,
video {
  display: block;
  max-width: 100%;
} */
/* Fonts */
/* 
@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree[wght].ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

*/

/* buttons */

/* .button {
  display: inline-flex;
  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  padding-inline: var(--size-6);
  padding-block: var(--size-3);

  color: var(--blue-9);
  border: var(--border-size-2) solid var(--blue-5);
  background-color: transparent;
  border-radius: var(--radius-2);

  &:is(:hover, :focus) {
    cursor: pointer;
    color: var(--blue-0);
    background-color: var(--blue-5);

    @nest .light & {
      text-shadow: 0 1px 0 var(--blue-8);
    }
  }

  &:active:not(:focus-visible) {
    position: relative;
  }

  @nest .dark & {
    border-color: var(--blue-3);
    color: var(--blue-1);

    &:hover {
      background-color: var(--blue-3);
      color: black;
    }
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .button:focus {
    transition: outline-offset 0.25s ease;
  }
  .button:focus:not(:active) {
    outline-offset: 5px;
  }
} */

/* See https://adrianroselli.com/2019/09/under-engineered-text-boxen.html */

/* textarea,
input:not([type='checkbox']):not([type='file']):not([type='image']):not([type='radio']):not([type='range']) {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  padding: 0.5rem;
}

textarea:focus,
input:not([type='checkbox']):not([type='file']):not([type='image']):not([type='radio']):not([type='range']):focus {
  outline: 0.15em solid #00f;
  box-shadow: 0 0 0.2em #00f;
}

textarea[aria-invalid='true'],
textarea[aria-invalid='spelling'],
textarea[aria-invalid='grammar'],
input:not([type='checkbox']):not([type='file']):not([type='image']):not([type='radio']):not(
    [type='range']
  )[aria-invalid] {
  background: linear-gradient(135deg, rgba(255, 0, 0, 1) 0, rgba(255, 0, 0, 1) 0.4em, rgba(255, 255, 255, 1) 0.4em);
}
@media print {
  body {
    font-size: 8pt;
  }
}
input[type='text']:-webkit-autofill,
input[type='text']:-webkit-autofill:hover,
input[type='text']:-webkit-autofill:focus,
input[type='password']:-webkit-autofill,
input[type='password']:-webkit-autofill:hover,
input[type='password']:-webkit-autofill:focus {
  zoom: 1.16666;
}

input[type='text']:-webkit-autofill::first-line,
input[type='password']:-webkit-autofill::first-line {
  font-size: 0.81333rem;
  line-height: 1.5;
} */

/* Left right white space */
body {
  overflow-x: hidden !important;
}

/* mobile font size issue */
@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}
/* Radix Primitives Radio Group */
.RadioGroupItem {
  all: unset;
}

.RadioGroupItem {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--black-a7);
}
.RadioGroupItem:hover {
  background-color: rgb(255 213 95);
}
.RadioGroupItem:focus {
  box-shadow: 0 0 0 2px rgb(68, 68, 68);
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.RadioGroupIndicator::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgb(68, 68, 68);
}
